@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Inter] text-sm sm:text-base bg-white text-blueDark 
   dark:text-slate-200
    dark:outline-teal-300 dark:bg-blueDark;
  }
}

@layer utilities {
  .boxshadow-light {
    box-shadow: 0 0 5px #f1ebd4, 0 0 25px #f1ebd4, 0 0 50px #fbbf24, 0 0 100px;
  }
  .boxshadow-dark {
    box-shadow: 0 0 5px #7e6e30, 0 0 25px #fbbf24, 0 0 50px #fbbf24, 0 0 100px;
  }

  .moonsun {
    @apply text-blueDark dark:text-slate-200;
  }

  .moonsun:hover,
  .moonsun:focus {
    @apply text-yellow-400 bg-[#f1ebd4] boxshadow-light dark:bg-[#7e6e30] dark:boxshadow-dark active:rotate-[180deg] duration-300;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.projects-container {
  max-width: 1170px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-link {
  @apply tracking-wide uppercase font-semibold px-2 py-1;
}

/*  focus:ring focus:ring-yellow-400 md:px-6 md:py-3 */
.link {
  @apply duration-300 rounded-sm
outline-teal-600 
outline-offset-4 dark:outline-offset-4
 hover:text-teal-600 active:text-teal-600 
 focus:text-teal-600 
 dark:hover:text-teal-300  dark:active:text-teal-300  dark:focus:text-teal-300
   dark:focus:outline-teal-300;
}

.icon-link {
  @apply duration-300 rounded-full
   outline-offset-4 outline-teal-600 
 hover:text-teal-600  active:text-teal-600 
  focus:text-teal-600
 dark:hover:text-teal-300  dark:active:text-teal-300  dark:focus:text-teal-300;
}

.mobile-nav {
  @apply absolute top-0 h-screen bg-slate-100 opacity-90 flex flex-col justify-center items-center dark:bg-blueDarkest duration-500;
}

.subtitle {
  @apply text-lg font-semibold uppercase tracking-widest;
}

.jobtitle {
  @apply font-dm text-sm font-semibold uppercase text-teal-600  dark:text-teal-300;
}
.bio-subtitle {
  @apply text-sm font-semibold uppercase;
}

.btn {
  @apply flex items-center text-sm sm:text-base py-2 px-4 uppercase bg-slate-100 border-2 rounded-md 
  ease-in duration-200  dark:bg-blueDarkest  dark:shadow-blueDarkest;
}

.btn-filter {
  @apply duration-300 text-sm sm:text-base font-dm px-2 py-1  tracking-wide border-2 border-transparent rounded-sm outline-4  
  outline-teal-600
  hover:text-teal-600 
  focus:text-teal-600 
  
  dark:outline-none
  dark:hover:text-teal-300 
  dark:focus:text-teal-300  dark:focus:outline-teal-300;
}

.active-filter {
  @apply text-teal-600 dark:text-teal-300  bg-slate-100 dark:bg-blueDarkest;
}

.glow {
  box-shadow: 0 0 40px rgb(251 191 36);
  box-shadow: 0 0 40px #5eead4;
}

.tech {
  @apply font-dm text-lg tracking-tight;
}

.tech-full {
  @apply border-2 border-slate-100 bg-slate-100 rounded-sm px-2 py-1 font-dm dark:bg-blueDarkest dark:border-blueDarkest;
}

.tech-outline {
  @apply border-2 border-slate-200 rounded-sm px-2 py-1 font-dm  dark:border-blueDarkest;
}

.lang-outline {
  @apply border-2 border-blueDark dark:border-slate-200 rounded-sm px-2 py-1 font-dm;
}

.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  @apply rounded-md border-2 border-current py-1 px-2 flex items-center justify-center gap-2 duration-300 hover:text-teal-600 dark:hover:text-teal-300;
}

.fit {
  height: fit-content;
}

/* @media only screen and (max-width: 768px) {
    .menu {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #00000084;
      z-index: 100;
    }
    .menu ul {
      width: 15rem;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 200;
      background: #fff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 3rem;
    }
  } */
